<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Резюме</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
   .rightimg  {
    float: right;
    margin: 7px 0 7px 7px;
   }
  </style>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Vladyslav Martyniuk</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/">Українська версія</a>
    <a class="p-2 text-dark" href="/english">Summary</a>
  </nav>
</div>
<h1 align="center">Summary</h1>
<big><big> <p align="center" >Vladyslav Martyniuk</p> </big></big>
<big> <p align="center">Student</p> </big>
<h6> <p align="center">Cherkasy State Technological University</p> </h6>
<h6> <p align="center">121. Software engineering</p> </h6>
<big><big> <p align="center" >Personal data</p> </big></big>
<big> <p align="center">Date of birth: 15.06.2000 (20 years)</p> </big>
<big> <p align="center">Unmarried</p> </big>
<big><big> <p align="center" >Contact Information</p> </big></big>
<big> <p align="center">Cherkasy city, Chekhov street 42</p> </big>
<big> <p align="center">+38(063)831-53-01</p> </big>
<big> <p align="center">2013vladok@gmail.com</p> </big>
<big><big> <p align="center" >Target</p> </big></big>
<big> <p align="center">Get a high-paying job in the field of IT with the possibility of career growth</p> </big>
<big><big> <p align="center" >Education</p> </big></big>
<big> <p align="center">Incomplete higher education</p></big>
<big><big> <p align="center" >Experience</p> </big></big>
<big> <p align="center">No experience</p></big>

</body>
</html>