<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Резюме</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
   .rightimg  {
    float: right;
    margin: 7px 0 7px 7px;
   }
  </style>
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Владислав Мартинюк</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/">Резюме</a>
    <a class="p-2 text-dark" href="/english">English version</a>
  </nav>
</div>
<h1 align="center">Резюме</h1>
<big><big> <p align="center" >Владислав Мартинюк</p> </big></big>
<big> <p align="center">Студент</p> </big>
<h6> <p align="center">Черкаського державного технологічного університету</p> </h6>
<h6> <p align="center">121. Інженерія програмного забеспечення</p> </h6>
<big><big> <p align="center" >Особисті дані</p> </big></big>
<big> <p align="center">Дата народження: 15.06.2000 (20 років)</p> </big>
<big> <p align="center">Неодружений</p> </big>
<big><big> <p align="center" >Контактна інформація</p> </big></big>
<big> <p align="center">Місто Черкаси, вулиця Чехова 42</p> </big>
<big> <p align="center">+38(063)831-53-01</p> </big>
<big> <p align="center">2013vladok@gmail.com</p> </big>
<big><big> <p align="center" >Ціль</p> </big></big>
<big> <p align="center">Влаштуватися на високооплачувану роботу в сфері IT з можливістю кар'єрного росту</p> </big>
<big><big> <p align="center" >Освіта</p> </big></big>
<big> <p align="center">Незакінчена вища</p></big>
<big><big> <p align="center" >Досвід</p> </big></big>
<big> <p align="center">Без досвіду</p></big>

</body>
</html>